* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    font-family: poppins;
}
body {
    width: 100%;
}
.nav-section {
    position: relative;
    left: 26rem;
}
.nav-item {
    padding: 2px 2rem;
    font-size: 1.3rem;
}
.h1-slider {
    position: absolute;
    top: 20rem;
    right: 30rem;
    z-index: 1;
    width: fit-content;
}
.h1-slider .h1 {
    font-family: poppins;
    font-size: 3rem;
    font-weight: 300;
}
.h1-slider .p{
    font-family: poppins;
    font-weight: 1.1rem;
    text-align: center;
}

@media all and (max-width: 500px) {
    .h1-slider {
        position: absolute;
        left: 0rem;
        top: 7rem;
        width: fit-content;
    } 
    .h1-slider .h1 {
        font-size: 2rem;
        text-align: center;
    }
    .h1-slider .p{
        text-align: center;
    }

}

.section-title {
    margin-top: 5rem;

}
/*============ Template Introduction=====================
Template Name: Trabble - Zenith Travels and Tours Ltd
Version: 1.0
Author: SylTheme
Template URI: http://getnajmul.com/theme/trabble
License URI: http://getnajmul.com
Tags: 	hotel, resort, tour, tourism, tourist, tours website, travel, traveler, traveling, traveling websites, rest, Travelo, vacation.
================================================================*/
/*		Table of contents
================================================================
01. Base Styles here
02. Header css here / header
03. Slider css here
04. Tab-search-area section
05. Popular packajge section css 
06. Counter  section css
07. popular destination strat section css
08. Choose us strat section css
09. Blog section css
10  Testimonial css here
11  Incredible place section css
12  Subscribe area section css
13  Partner area section css
14  Footer area section css
15  Scrool to top section css

16  Home version 2 Slider area section css
17  Home version 2 Tabedsearch section css
18  Home version 2 welcome section css
19  Home version 2 welcome  section css
20  Home version 2 tour-package section css
21. Home version 2 popular destination section css
22. Home version 2 discount section css
23. Home version 2 offer  section css
24. Home version 2 blog section css
25  Home version 2 subscribe section css
26  Home version 2 gallery section css
27. Home version 3 hdeader  section css
28. home version 3 herounit section css
29. why choose travelser section css
30. discount & deal section css
31. Video section css
32. online shop section css
33. thailand-trip section css 
34. Testimonial two section css

35. Home version 4 header top section 
36. Home version 4 slider section start
37. Home version 4 tabbased search section start here
38. Home version 4 popular package section start
39. Home version 4 discount package 4 section start
40. Home version 4 top destination section start
41. Home version 4 counter section
42. Home version 4 hotel section start
43. Home version partner 2 section start
44. Home version 4 footer section start
45. Home version 5 slider section start
46. Home version 5 slider section start

47. Home version 5 discount section 
78. Home version 5 Our Hottest tours section
79. Home version 5 testimonial 5 section
50. Home version 5 recomended hotel section
51. Home version 5 discount 5 hotel section
52. Home version 5 blog hotel section start
53. blog version 1 section start
54. single Package section start
56. contact section start here
57. Blog single version one

==============================================*/
/*====================== 01. Theme Base CSS =========================*/
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    z-index: 28 !important;
}
.pt-100 {
    padding-top: 100px;
}
.pb-75 {
    padding-bottom: 75px;
}
.pb-65 {
    padding-bottom: 65px;
}
.pb-70 {
    padding-bottom: 70px;
}
.mbt-100 {
    margin-bottom: 45px;
}
.image-bg-padding-100 {
    padding: 100px 0;
}
.border-raduis-3 {
    border-radius: 3px;
}
.bg-f4f4f4 {
    background: #f4f4f4;
}
html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
body {
    position: relative;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus {
    outline: 0px solid;
}
img {
    max-width: 100%;
    height: auto;
}
.fix {
    overflow: hidden;
}
p {
    margin: 0 0 15px;
    font-size: 16px;
    color: #444;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 25px !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-family: 'Poppins', sans-serif;
}
a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active, a:hover {
    outline: 0 none;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #252525;
    font-size: 16px;
    font-weight: 400;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.ptb-100 {
    padding: 100px 0;
}
.boxshadow, .tp-caption.boxshadow {
    box-shadow: none;
}
.section-paddings {
    padding: 100px 0;
}
/*=====basce css end here=========*/
/*============================== theme buttons css goes here ===============================*/
.travel-primary-btn, .travel-primary-btn-sm, .read-more, .quick-shop, .thailan-btn, .travel-primary-btn-2 {
    background: #37b721;
    display: inline-block;
    padding: 12px 29px !important;
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-decoration: none;
}
.thailan-btn {
    padding: 10px 35px !important;
}
.travel-primary-btn-sm {
    padding: 10px 15px !important;
}
.travel-booking-btn, .travel-booking-btn-lg {
    display: inline-block;
    background: #37b721;
    padding: 7px 15px;
    color: #fefefe;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
}
.travel-booking-btn-lg {
    padding: 10px 25px;
    font-size: 14px;
}
.read-more {
    padding: 12px 40px !important;
}
.quick-shop {
    padding: 8px 22px !important;
}
.travel-primary-btn-2 {
    background: #f17b37;
}

/* -------- Pre Loader -------- */
#preloader {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #fefefe;
 z-index: 9999; }

#status {
 width: 200px;
 height: 200px;
 position: absolute;
 left: 50%;
 top: 50%;
 background-image: url("../images/preloader.gif");
 background-repeat: no-repeat;
 background-position: center;
 margin: -100px 0 0 -100px; }

/*===================================== 01. header section css goes here ======================================*/
header {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
}
.header-top-area {
    background: rgba(34, 67, 74, 0.5);
}
.header-top-area .header-top-left .header-top-contact li {
    display: inline-block;
    padding: 16px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}
.header-top-area .header-top-left .header-top-contact li i {
    margin-right: 10px;
    color: #37b721;
    font-size: 20px;
}
.header-top-area-2 {
    background: #2c3035;
}
.header-top-right .book-btn {
    display: inline-block;
    padding: 16px;
    float: right;
    background: #37b721;
    transition: all ease-in-out 0.3s;
}
.header-top-right .book-btn a {
    color: #ffffff;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
}
.header-top-right .book-btn:hover {
    background: #f17b37;
}
.header-bottom-area {
    transition: all ease-in-out 0.5s;
}
.header-bottom-area .logo-area {
    padding: 25px 0;
}
.header-bottom-area .main-menu > li {
    display: inline-block;
    padding: 30px 0 30px 42px;
    position: relative;
}
.header-bottom-area .main-menu > li > a {
    display: block;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.header-bottom-area .main-menu > li > a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #37b721;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -70%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.header-bottom-area .main-menu > li > a i {
    margin-left: 6px;
}
.header-bottom-area .main-menu > li ul.dropdown {
    background: #ffffff repeat scroll 0 0;
    left: 42px;
    position: absolute;
    top: 81% !important;
    width: 200px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
    transform-origin: 0 0 0;
    position: absolute;
    text-align: left;
    transform: scaleY(0.4);
}
.header-bottom-area .main-menu > li ul.dropdown li {
    border-bottom: 1px solid #eef0f2;
}
.header-bottom-area .main-menu > li ul.dropdown li:last-child {
    border-bottom: 0;
}
.header-bottom-area .main-menu > li ul.dropdown li a {
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 14px 18px;
    color: #454545;
    transition: all ease-in-out 0.3s;
}
.header-bottom-area .main-menu > li ul.dropdown li a:hover {
    color: #37b721;
}
.header-bottom-area .main-menu > li:hover ul.dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: scaleY(1);
}
.header-bottom-area .main-menu > li:hover > a {
    color: #37b721;
}
.header-bottom-area .main-menu > li:hover a:before {
    opacity: 1;
    visibility: visible;
}
.header-bottom-area .main-menu > li.active a {
    color: #37b721;
}
.header-bottom-area .main-menu > li.active a:before {
    width: 100%;
    opacity: 1;
    visibility: visible;
    bottom: -15px;
}
.header-bottom-area.sticky {
    position: none;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 99;
}
.mean-container .mean-bar {
    position: relative;
}
.mean-container .mean-bar:before {
    color: #ffffff;
    content: "menu";
    font-size: 15px;
    left: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
    font-weight: 700;
}
/*===================================================== 02. slider area section title css goes here =======================================================*/
.slider-area {
    min-height: 1000px;
}
.slider-area .tparrows {
    background: #37b721 !important;
    transition: all ease-in-out 0.3s !important;
    width: 53px !important;
    height: 53px !important;
    border-radius: 4px !important;
}
.slider-area .tparrows:before {
    line-height: 53px !important;
    font-size: 20px;
}
.slider-area .tparrows:hover {
    background: #f17b37 !important;
}
.slider-area .slider-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.slider-area .slider-overlay:before {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
/*===================================================== 03. tab-search-area section title css goes here =======================================================*/
.tabbased-search-area {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -200px;
}
.tabbased-search-area a:focus {
    outline: none;
}
.tabbased-search-area .tabbable-menu .tab-menu {
    text-align: center;
    margin-bottom: 30px;
}
.tabbased-search-area .tabbable-menu .tab-menu li {
    display: inline-block;
    padding: 20px;
}
.tabbased-search-area .tabbable-menu .tab-menu li a {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
    display: block;
}
.tabbased-search-area .tabbable-menu .tab-menu li a:before {
    position: absolute;
    width: 0;
    height: 2px;
    background: #37b721;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -30px;
    text-align: center;
    transition: all ease-in-out .5s;
    opacity: 0;
    visibility: hidden;
}
.tabbased-search-area .tabbable-menu .tab-menu li a img {
    margin-left: 20px;
    margin-top: -10px;
}
.tabbased-search-area .tabbable-menu .tab-menu li a:hover {
    color: #37b721;
}
.tabbased-search-area .tabbable-menu .tab-menu li:hover a:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}
.tabbased-search-area .tabbable-menu .tab-menu li.active a {
    color: #37b721;
}
.tabbased-search-area .tabbable-menu .tab-menu li.active a:before {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.tabbased-search-area .tab-content .custom-select-open div {
    text-align: left !important;
}
.tabbased-search-area .tab-content .hotels-form input, .tabbased-search-area .tab-content .flights-form input {
    -moz-user-select: none;
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    color: #555555;
    height: 53px;
    padding: 16px 20px;
    position: relative;
    text-align: left;
    width: 100%;
}
.tabbased-search-area .tab-content .hotels-form input:focus, .tabbased-search-area .tab-content .flights-form input:focus {
    outline: none;
}
.tabbased-search-area .tab-content .hotels-form input::-webkit-input-placeholder, .tabbased-search-area .tab-content .flights-form input::-webkit-input-placeholder {
    color: #555555;
}
.tabbased-search-area .tab-content .hotels-form input::-moz-input-placeholder, .tabbased-search-area .tab-content .flights-form input::-moz-input-placeholder {
    color: #555555;
}
.tabbased-search-area .tab-content .hotels-form input::-ms-input-placeholder, .tabbased-search-area .tab-content .flights-form input::-ms-input-placeholder {
    color: #555555;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-2, .tabbased-search-area .tab-content .flights-form .hotel-input-2 {
    width: 20%;
    float: left;
    border-right: 1px solid #ccc;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4, .tabbased-search-area .tab-content .flights-form .hotel-input-4 {
    width: 25%;
    float: left;
    border-right: 1px solid #ccc;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4 .custom-select, .tabbased-search-area .tab-content .flights-form .hotel-input-4 .custom-select {
    width: 100%;
    height: 53px;
    border: none;
    background: #fff url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center right 25px;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4 .custom-select a, .tabbased-search-area .tab-content .flights-form .hotel-input-4 .custom-select a {
    color: #555555;
    text-align: left;
    padding: 16px 20px;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4-23, .tabbased-search-area .tab-content .flights-form .hotel-input-4-23 {
    width: 23%;
    float: left;
    border-right: 1px solid #ccc;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4-23 .custom-select, .tabbased-search-area .tab-content .flights-form .hotel-input-4-23 .custom-select {
    width: 100%;
    height: 53px;
    border: none;
    background: #fff url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center right 25px;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-4-23 .custom-select a, .tabbased-search-area .tab-content .flights-form .hotel-input-4-23 .custom-select a {
    color: #555555;
    text-align: left;
    padding: 16px 20px;
    width: 265px;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-1, .tabbased-search-area .tab-content .flights-form .hotel-input-1 {
    width: 12%;
    float: left;
    border-right: 1px solid #ccc;
}
.tabbased-search-area .tab-content .hotels-form .hotel-input-1:last-child, .tabbased-search-area .tab-content .flights-form .hotel-input-1:last-child {
    border-right: none;
}
.tabbased-search-area .tab-content .hotels-form .searc-btn-7, .tabbased-search-area .tab-content .flights-form .searc-btn-7 {
    width: 6%;
    float: left;
}
.tabbased-search-area .tab-content .hotels-form .searc-btn-7 button, .tabbased-search-area .tab-content .flights-form .searc-btn-7 button {
    background: #37b721 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    height: 53px;
    padding: 0 24px;
    transition: all ease-in-out 0.3s;
}
.tabbased-search-area .tab-content .hotels-form .searc-btn-7 button:hover, .tabbased-search-area .tab-content .flights-form .searc-btn-7 button:hover {
    background: #f17b37;
}
.tabbased-search-area .tab-content .flights-form input {
    -moz-user-select: none;
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    color: #555555;
    height: 53px;
    padding: 16px 20px;
    position: relative;
    text-align: left;
    width: 100%;
}
.tabbased-search-area .tab-content .flights-form input:focus {
    outline: none;
}
.tabbased-search-area .tab-content .flights-form input::-webkit-input-placeholder {
    color: #555555;
}
.tabbased-search-area .tab-content .flights-form input::-moz-input-placeholder {
    color: #555555;
}
.tabbased-search-area .tab-content .flights-form input::-ms-input-placeholder {
    color: #555555;
}
.tabbased-search-area .tab-content .flights-form .tour-input-20 {
    width: 18%;
    float: left;
    border-right: 1px solid #ccc;
}
.tabbased-search-area .tab-content .flights-form .tour-input-15 {
    width: 13%;
    float: left;
    border-right: 1px solid #ccc;
}
.tabbased-search-area .tab-content .flights-form .tour-input-7-5 {
    width: 7%;
    float: left;
    border-right: 1px solid #ccc;
}
.tabbased-search-area .tab-content .flights-form .tour-input-7-5:last-child {
    border-right: none;
}
.tabbased-search-area .tab-content .flights-form .tour-input-7-5 .custom-select {
    background: #fff url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center right 8px;
}
.tabbased-search-area .tab-content .flights-form .custom-select {
    width: 100%;
    height: 53px;
    border: none;
}
.tabbased-search-area .tab-content .flights-form .custom-select a {
    color: #555555;
    text-align: left;
    padding: 16px 20px;
}
/*===================================================== 04.section title css goes here =======================================================*/
.section-title, .section-title-white, .section-title-white-2 {
    margin-bottom: 60px;
    margin-top: 10px;
}
.section-title h2, .section-title-white h2, .section-title-white-2 h2 {
    background-color: transparent;
    background-image: url("../images/line.png");
    background-repeat: no-repeat;
    color: #454545;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    background-position: center bottom;
    z-index: 2;
}
.section-title h2:before, .section-title h2:after, .section-title-white h2:before, .section-title-white h2:after, .section-title-white-2 h2:before, .section-title-white-2 h2:after {
    background: #454545 none repeat scroll 0 0;
    bottom: 3.8px;
    content: "";
    height: 1px;
    left: -180px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 120px;
}
.section-title h2:after, .section-title-white h2:after, .section-title-white-2 h2:after {
    left: 180px;
}
.section-title p, .section-title-white p, .section-title-white-2 p {
    color: #727272;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    z-index: 2;
    line-height: 25px;
}
.section-title-white h2, .section-title-white-2 h2 {
    color: #ffffff;
}
.section-title-white h2:before, .section-title-white h2:after, .section-title-white-2 h2:before, .section-title-white-2 h2:after {
    background: #ffffff none repeat scroll 0 0;
}
.section-title-white p, .section-title-white-2 p {
    color: #ffffff;
}
.section-title-white-2 h2 {
    background-image: url("../images/line-read.png") !important;
}
.section-title-3 {
    z-index: 33;
    position: relative;
    padding-left: 30px;
}
.section-title-3 h2 {
    background-color: transparent;
    background-color: transparent;
    background-image: url("../images/line.png");
    background-position: left 87px bottom;
    background-repeat: no-repeat;
    color: #454545;
    font-size: 37px;
    font-weight: 500;
    padding-bottom: 20px;
    position: relative;
    text-transform: capitalize;
    z-index: 2;
}
.section-title-3 h2:before, .section-title-3 h2:after {
    background: #454545 none repeat scroll 0 0;
    bottom: 4.8px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 80px;
}
.section-title-3 h2:after {
    left: 119px;
}
.section-title-3 p {
    margin-bottom: 30px;
}
.section-title-3 h5 {
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}
.travel-lp {
    padding-left: 30px;
}
/*===================================================== 05.popular packajge section css goes here =======================================================*/
.popular-packages .single-package {
    margin-bottom: 30px;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.popular-packages .single-package img {
    display: block;
    width: 100%;
}
.popular-packages .single-package .package-content {
    padding: 20px;
}
.popular-packages .single-package .package-content h3 {
    font-weight: 600px;
    color: #454545;
    font-size: 20px;
    transition: all ease-in-out 0.5s;
}
.popular-packages .single-package .package-content p {
    color: #727272;
    font-size: 15px;
    font-weight: 500;
}
.popular-packages .single-package .package-content p span {
    color: #37b721;
    font-weight: 600;
}
.popular-packages .single-package .package-calto-action {
    padding: 0 20px 25px;
}
.popular-packages .single-package .package-calto-action .ct-action li {
    display: inline-block;
}
.popular-packages .single-package .package-calto-action .ct-action li:first-child a {
    transition: all ease-in-out 0.5s;
    overflow: hidden;
}
.popular-packages .single-package .package-calto-action .ct-action li:last-child {
    float: right;
    margin-top: 7px;
}
.popular-packages .single-package .package-calto-action .ct-action li:last-child i {
    font-size: 16px;
    color: #ffef3b;
}
.popular-packages .single-package:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.popular-packages .single-package:hover .ct-action a {
    background: #f17b37;
}
.popular-packages .single-package:hover .package-content h3 {
    color: #37b721;
}
/*===================================================== 06.Counter section css goes here =======================================================*/
.count-down-bg {
    background: transparent url("../images/bgimage/countbg.jpg") repeat scroll 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.count-down-bg .count-down-titile {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}
.count-down-bg .count-down-titile h3 {
    line-height: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}
.count-down-bg .count-down-titile h3 span.color-one {
    color: #f17b37;
}
.count-down-bg .count-down-titile h3 span.color-two {
    color: #37b721;
}
.count-down-bg .count-timer .time-wrapper p {
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 20px;
}
.count-down-bg .count-timer .time-wrapper .timer {
    overflow: hidden;
}
.count-down-bg .count-timer .time-wrapper .timer li {
    display: inline-block;
    height: 132px;
    width: 117px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    text-align: center;
    color: #ffffff;
    padding: 20px 0px;
    font-size: 45px;
    font-weight: 500;
    border-radius: 4px;
}
.count-down-bg .count-timer .time-wrapper .timer .day-css {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    margin-top: -2px;
}
.count-down-bg .buy-now {
    margin-top: 50px;
}
/*===================================================== 07.popular destination strat section css goes here =======================================================*/
.destination-slider-active .single-destination {
    transition: all ease-in-out 0.5s;
    margin-bottom: 30px;
}
.destination-slider-active .single-destination figure {
    position: relative;
    overflow: hidden;
}
.destination-slider-active .single-destination figure:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    z-index: 0;
}
.destination-slider-active .single-destination figure:after {
    transform: skewX(45deg) translateX(-100%);
}
.destination-slider-active .single-destination figure figcaption {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    z-index: 2;
}
.destination-slider-active .single-destination figure figcaption a {
    overflow: hidden;
}
.destination-slider-active .single-destination .des-city {
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out 0s;
}
.destination-slider-active .single-destination .des-city a {
    color: #454545;
    font-weight: 500;
    padding-bottom: 10px;
    display: block;
    transition: all ease-in-out 0.5s;
    font-size: 18px;
}
.destination-slider-active .single-destination .des-city a i {
    margin-right: 10px;
}
.destination-slider-active .single-destination .des-city h4 {
    color: #727272;
    font-weight: 500;
    font-size: 14px;
}
.destination-slider-active .single-destination .des-city h4 span {
    float: right;
}
.destination-slider-active .single-destination:hover .des-city {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.destination-slider-active .single-destination:hover figcaption {
    opacity: 1;
    visivility: visible;
}
.destination-slider-active .single-destination:hover figure:before {
    opacity: 1;
    visibility: visible;
}
.destination-slider-active .single-destination:hover .des-city a {
    color: #37b721;
}
/*===================================================== 08.Choose us strat section css goes here =======================================================*/
.trabble-bg {
    background: transparent url("../images/bgimage/travlec.jpg") no-repeat scroll center center/cover;
    position: relative;
}
.trabble-bg:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.single-travel {
    background: #ffffff none repeat scroll 0 0;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    transition: all ease-in-out 0.5s;
    margin-bottom: 30px;
}
.single-travel .travel-number {
    float: left;
    margin-right: 5px;
    margin-top: -5px;
}
.single-travel .travel-number span {
    color: #37b721;
    font-weight: 500;
    font-size: 33px;
}
.single-travel .travel-content h4 {
    font-size: 20px;
    color: #454545;
    font-weight: 600;
}
.single-travel .travel-content p {
    margin: 0;
    width: 90%;
    line-height: 24px;
}
.single-travel:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}
/*===================================================== 09.Blog section css goes here =======================================================*/
.single-travel-blog {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.single-travel-blog .blog-image {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}
.single-travel-blog .blog-image a {
    display: block;
}
.single-travel-blog .blog-image a img {
    width: 100%;
    transition: all ease-in-out 0.3s;
}
.single-travel-blog .blog-content {
    padding: 20px;
}
.single-travel-blog .blog-content .blog-meta {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    padding-bottom: 20px;
}
.single-travel-blog .blog-content .blog-meta .post-date {
    float: left;
    margin-right: 5px;
}
.single-travel-blog .blog-content .blog-meta .post-date span {
    color: #727272;
}
.single-travel-blog .blog-content .blog-meta .post-social {
    text-align: right;
}
.single-travel-blog .blog-content .blog-meta .post-social li {
    display: inline-block;
    margin: 0 10px;
}
.single-travel-blog .blog-content .blog-meta .post-social li a {
    display: block;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}
.single-travel-blog .blog-content .blog-meta .post-social li a i {
    margin-right: 5px;
}
.single-travel-blog .blog-content .blog-post-content h4 {
    color: #454545;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 30px;
    transition: all ease-in-out 0.5s;
}
.single-travel-blog .blog-content .blog-post-content p {
    color: #727272;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.single-travel-blog .blog-content .blog-post-content a {
    color: #454545;
    font-size: 12px;
    font-weight: 500;
    transition: all ease-in-out 0.5s;
}
.single-travel-blog .blog-content .blog-post-content a i {
    margin-left: 5px;
}
.single-travel-blog:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.single-travel-blog:hover .blog-image img {
    transform: scale(1.05);
}
.single-travel-blog:hover .blog-post-content a {
    color: #37b721;
}
/*===================================================== 10.Testimonial section css goes here =======================================================*/
.testimonial-area {
    background: transparent url("../images/bgimage/testimonial.jpg") no-repeat center center/cover;
    position: relative;
}
.testimonial-area:before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.testimonial-area .custom-width {
    width: 300px;
    margin: 0 auto;
}
.testimonial-area .top-testimonial-image.row.slick-pagination {
    position: relative;
    z-index: 2;
}
.testimonial-area .top-testimonial-image .slider-nav {
    padding-bottom: 40px;
}
.testimonial-area .top-testimonial-image .slider-nav .slick-slide img {
    margin: 25px 0;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.testimonial-area .top-testimonial-image .slider-nav .slick-center {
    transform: scale(1.3);
    padding: 0;
    transition: all ease-in-out 0.3s;
}
.testimonial-area .block-text {
    text-align: center;
    margin-top: -50px;
}
.testimonial-area .block-text .testimonial-message .message {
    margin-top: 30px;
    position: relative;
    padding: 0 13%;
}
.testimonial-area .block-text .testimonial-message .message::before {
    content: url("../images/icon/quote-left.png");
    left: 3px;
    position: absolute;
    top: -30px;
    z-index: 2;
}
.testimonial-area .block-text .testimonial-message .message::after {
    content: url("../images/icon/quote-righ.png");
    left: auto;
    position: absolute;
    right: 4px;
    bottom: -12px;
}
.testimonial-area .block-text .testimonial-message .message p {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}
.testimonial-area .block-text .testimonial-message .rating {
    padding: 15px 0;
}
.testimonial-area .block-text .testimonial-message .rating i {
    color: #ffef3b;
}
.testimonial-area .block-text .testimonial-message .client-bio {
    color: #ffffff;
}
.testimonial-area .block-text .testimonial-message .client-bio h4 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.testimonial-area .block-text .testimonial-message .client-bio span {
    font-weight: 400;
    text-transform: capitalize;
}
/*===================================================== 11.incredible place section css goes here =======================================================*/
.incredible-places .single-place {
    margin-bottom: 30px;
}
.incredible-places .single-place figure {
    overflow: hidden;
    position: relative;
}
.incredible-places .single-place figure:before {
    position: absolute;
    left: -30px;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    transition: all ease-in-out 0.5s;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.incredible-places .single-place figure a {
    display: block;
}
.incredible-places .single-place figure a img {
    width: 100%;
}
.incredible-places .single-place figure figcaption {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 30px;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.incredible-places .single-place figure figcaption h4 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}
.incredible-places .single-place figure figcaption h4 span {
    color: #37b721;
}
.incredible-places .single-place:hover figcaption {
    left: 30px;
    opacity: 1;
    visibility: visible;
}
.incredible-places .single-place:hover figure:before {
    left: 0px;
    opacity: 1;
    visibility: visible;
}
/*===================================================== 12.subscribe area section css goes here =======================================================*/
.subscribe-bg {
    background: #37b721 url("./Images/pexels-andrea-piacquadio-3813486.jpg") no-repeat scroll center center/cover;
    position: relative;
}
.subscribe-bg:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    background: rgba(86, 197, 67, 0.55);
}
.subscribe-area {
    padding: 150px 0px;
}
.subscribe-area .subscribe-form .serach-form input {
    border: medium none;
    border-radius: 4px;
    color: #727272;
    font-size: 14px;
    height: 57px;
    padding-left: 20px;
    padding-right: 190px;
    position: relative;
    left: 15rem;
    text-transform: capitalize;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center right 147px;
    padding-bottom: 0;
}
.subscribe-area .subscribe-form .serach-form input:focus {
    outline: none;
}
.subscribe-area .subscribe-form .search-btn button {
    border: medium none;
    position: absolute;
    right: 10rem;
    top: 23.8rem;
    background: #f17b37;
    font-size: 15px;
    padding: 17.7px;
    width: 20%;
    border-radius: 0 4px 4px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}
.footer {
    background-color: #252525;
    color: #f3f3f3;
}
.footer .text-center {
    position: relative;
    top: 4rem;
}

/* ABOUT US PAGE */

.breadcrumb-blog-version-one {
    margin-top: 4rem;
}
.single-bredcurms {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 70vh;
}
.bredcrums-content {
    position: relative;
    top: 20rem;
}
#h2 {
    font-size: 4rem;
    color: #ffffff;
    text-transform: uppercase;
}
ul {
    display: flex;
    list-style: none;
}
.bredcrums-content a {
    text-decoration: none;
    padding: 2rem;
    color: #eef0f2;
    font-size: 1.1rem;
}
.single-box {
    margin-top: 3rem;
    text-align: center;
}

